@charset "utf-8";
/* CSS Document */

img{margin:0;padding:0;display:block;}
.body{padding:0;margin:0;font-size:14px;font-family:Verdana, Geneva, sans-serif;background-color:black;display:block;width:100%;}

 .body img{width:100%;height:700px;display:block;margin-left:auto;margin-right:auto;margin:0;padding:0;position:relative;}
 
.page1{width:300px;height:80px;background-color:black;opacity:0.6;opacity:60%;filter:alpha(opacity=60);position:absolute;top:80%;left:40%;margin-left:auto;margin-right:auto;}


a{dispaly:block;position:absolute;font-size:30px;font-weight:bold;margin-left:auto;margin-right:auto;width:300px;height:80px;line-height:80px;text-align:center;color:white;text-decoration:none;}


.main{background-color:#F2F1DD;width:900px;}
header{padding:o;margin:0;}
.main{background-color:#F2F1DD;width:1000px;position:relative;margin-left:auto;margin-right:auto;}
.p1{width:1000px;height:1200px;background-color:black;margin-left:auto;margin-right:auto;overflow:hidden;}
.p1 img{width:1000px;margin-left:auto;margin-right:auto;height:1200px;}
.p2{width:1000px;background-color:#F2F1DD;margin-left:auto;margin-right:auto;}
.p2 img{height:600px;width:250px;}
.titl{width:300px;height:60px;background-color:#8f93f6;margin-left:350px;font-size:30px;text-align:center;line-height:60px;}
.p3{width:1000px;background-color:white;margin-left:auto;margin-right:auto;height:900px;overflow:hidden;}
.p3 img{width:500px;float:left;margin-top:10px;}
.p4{width:1000px;height:400px;background-color:white;margin-left:auto;margin-right:auto;}
.p4 img{width:200px;height:300px;margin-left:30px;}
.p5{width:1000px;height:100px;margin-left:auto;margin-right:auto;}
.p5 img{width:500px;margin-left:250px;margin-right:auto;display:block;}
.p5 video{background-color:white;width:100px;height:100px;padding-left:450px;display:block;}
img{width:300px;display:block;float:left;}
.p6{width:1000px;height:150px;background-color:#E0E0E0;margin-left:auto;margin-right:auto;}
.p6 img{width:100px;height:100px;display:block;margin-left:450px;margin-top:25px;}