@charset "utf-8";
/* CSS Document */
img{margin:0;padding:0;display:block;}
.mbody{padding:0;margin:0;font-size:14px;font-family:Verdana, Geneva, sans-serif;background-color:black;display:block;width:100%;}

 .mbody img{width:100%;height:560px;display:block;margin-left:auto;margin-right:auto;position:relative;}
 
 /*chrome*/
 @media screen and (-webkit-min-device-pixel-ratio:0){.mbody img{width:100%;height:660px;display:block;margin-left:auto;margin-right:auto;position:relative;}}{}
 
 
 /*ff*/
.mbody img, x:-moz-any-link, x:default{width:100%;height:460px;display:block;margin-left:auto;margin-right:auto;position:relative;}


.page1{width:400px;height:60px;background-color:black;opacity:0.6;opacity:60%;filter:alpha(opacity=60);position:absolute;top:75%;left:40%;margin-left:-80px;}

/*chrome*/
 @media screen and (-webkit-min-device-pixel-ratio:0){.page1{width:400px;height:80px;background-color:black;opacity:0.6;opacity:60%;filter:alpha(opacity=60);position:absolute;top:80%;left:40%;margin-left:auto;margin-right:auto;}}{}

/*ff*/
 @-moz-document url-prefix(){.page1{width:400px;height:60px;background-color:black;opacity:0.6;opacity:60%;filter:alpha(opacity=60);position:absolute;top:80%;left:40%;margin-left:-70px;margin-right:auto;}}

a{dispaly:block;position:absolute;font-size:30px;font-weight:bold;margin-left:auto;margin-right:auto;width:100%;height:80px;line-height:60px;text-align:center;color:white;text-decoration:none;}
/*chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0){.page1 a{dispaly:block;position:absolute;font-size:40px;font-weight:bold;margin-left:auto;margin-right:auto;width:100%;height:60px;line-height:80px;text-align:center;color:white;text-decoration:none;}{}
/*ff*/
@-moz-document url-prefix(){.page1 a{dispaly:block;position:absolute;font-size:40px;font-weight:bold;margin-left:auto;margin-right:auto;width:100%;height:60px;line-height:60px;text-align:center;color:white;text-decoration:none;}}

